<html>
<head>
<title>Happy Trails Vinyl Records</title>
<link href="mystyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Happy Trails Vinyl Records</h1>

<div style="text-align:center;">
    <a href="/">Home</a> |
    <a href="/customers">Customers</a> |
    <a href="/vinyl">Vinyl</a> |
    <a href="/orders">Orders</a> |
    <a href="/orderitems">Order Items</a> |
    <a href="/inventory">Inventory</a>
  </div>
